[LootLockerSettings]
; You can get your api key from https://console.lootlocker.com/settings/api-keys
api_key="dev_177ef740937d4832bba6055f758ce1eb"
; You can get your domain key from https://console.lootlocker.com/settings/api-keys
domain_key="krwgpr25"
; The game version must follow a semver pattern. Read more at https://semver.org/
game_version="0.0.0.1"
; The configured Log Level for LootLocker, Set to "None" to silence LootLocker logs completely
; Possible values are: "Debug", "Verbose", "Info", "Warning", "Error", "None"
logLevel="Info"
